.remove-button{
    width: 2rem;
    margin-right: 1rem;
}
/* Hide scrollbar on mobile devices but allow scrolling */
@media (max-width: 768px) { /* Adjust the width based on your design */
    .scrollable {
        overflow-y: scroll; /* Enable vertical scrolling */
        -webkit-overflow-scrolling: touch; /* Enable momentum scrolling for better UX */
    }

    /* Hide scrollbar */
    .scrollable::-webkit-scrollbar {
        display: none; /* Hide the scrollbar for WebKit browsers */
    }

    /* For Firefox */
    .scrollable {
        scrollbar-width: none; /* Hide scrollbar for Firefox */
    }
}
